body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff; /* Set h1 color to match the button */
}

#routine-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 16px); /* Adjusted width to account for padding */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Include padding in input width calculation */
    border: 1px solid #ccc; /* Add a subtle border for better visibility */
    border-radius: 4px; /* Round the input corners */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px; /* Round the button corners */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

/* Optional: Add a slight box-shadow to each list item for a card-like effect */
li {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px; /* Increase margin for separation */
}
